<!DOCTYPE html>
<html>
<head>
	<script src="{{url_for('static', filename='d3-src/d3.min.js')}}" charset="utf-8"></script>
	<title> Trumpian </title>

	<style>
	     .axis{
			font: 10px sans-serif;
	      }

	     .axis path,
	     .axis line{
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
	     }

		 div.tooltip{
			position: absolute;
			text-align: center;
			width: 200px;
			height: 100px;
			padding: 2px;
			font: 12px sans-serif;
			background: black;
			border-radius: 8px;
			pointer-events: none;
		 }

     .checkboxFive {
	     width: 25px;
	     margin: 20px 100px;
	     position: relative;
     }
    .checkboxFive label {
	    cursor: pointer;
	    position: absolute;
	    width: 25px;
	    height: 25px;
	    top: 0;
  	  left: 0;
	    background: #eee;
	    border:1px solid #ddd;
    }
.checkboxFive label:after {
	opacity: 0.1;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
	opacity: 0.5;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

	</style>
</head>
<body>
 <!-- For testing lists. -->
 <!--
<hr>
{{test}}
<hr>
{{tweets}}
<hr>
{{sent}}
-->
<center>
<font size="+5">
Donald Trump's Tweets vs. NYC Crime<br>
</font>
<font size="+2">
Team shish-KeMAB
</center>
<hr>
<center>
  <table>
    <tr>
      <td align="center">Toggle Sentiment Analysis*</td>
      <td align="center">Larceny</td>
      <td align="center">Harrassment</td>
      <td align="center">Assault</td>
      <td align="center">Drugs</td>
      <td align="center">Intoxicated Driving</td>
      <td align="center">Other Crimes</td>
    </tr>
    <tr>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="check" name="" /><label for="check"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="larceny" name="" /><label for="larceny"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="harrassment" name="" /><label for="harrassment"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="assault" name="" /><label for="assault"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="drugs" name="" /><label for="drugs"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="intox" name="" /><label for="intox"></label></div></td>
      <td><div class="checkboxFive"><input type="checkbox" value="1" id="other" name="" /><label for="other"></label></div></td>
    </tr>
  </table>
</font>
<!--
<input type="checkbox" id="check">Number of Tweets</input>
<input type="checkbox" id="larceny">Larceny</input>
<input type="checkbox" id="harrassment">Harrassment</input>
<input type="checkbox" id="assault">Assault</input>
<input type="checkbox" id="drugs">Drugs</input>
<input type="checkbox" id="intox">Intox Driving</input>
<input type="checkbox" id="other">Other</input>
-->
<script>
//read in the data arrays
var cnum = {{test}};
var icrime = {{test2}};
var tw = {{tweets}};
var st = {{sent}};
//var smp = {{sample}};
var months = ["Jan '09","Feb '09","Mar '09","Apr '09","May '09","Jun '09","Jul '09","Aug '09","Sep '09","Oct '09","Nov '09","Dec '09","Jan '10","Feb '10","Mar '10","Apr '10","May '10","Jun '10","Jul '10","Aug '10","Sep '10","Oct '10","Nov '10","Dec '10","Jan '11","Feb '11","Mar '11","Apr '11","May '11","Jun '11","Jul '11","Aug '11","Sep '11","Oct '11","Nov '11","Dec '11","Jan '12","Feb '12","Mar '12","Apr '12","May '12","Jun '12","Jul '12","Aug '12","Sep '12","Oct '12","Nov '12","Dec '12","Jan '13","Feb '13","Mar '13","Apr '13","May '13","Jun '13","Jul '13","Aug '13","Sep '13","Oct '13","Nov '13","Dec '13","Jan '14","Feb '14","Mar '14","Apr '14","May '14","Jun '14","Jul '14","Aug '14","Sep '14","Oct '14","Nov '14","Dec '14","Jan '15","Feb '15","Mar '15","Apr '15","May '15","Jun '15","Jul '15","Aug '15","Sep '15","Oct '15","Nov '15","Dec '15"];
var crimes = cnum.slice(0,84);
var sent = st.slice(0,84);
var tweets = tw.slice(0,84);

console.log(d3.selectAll("input"));
var des = 0;

//filters
function lar(){
	if(d3.select("#larceny").property("checked") ){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][0]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][0]));});
	}
	else if(!d3.select("#larceny").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][0]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][0]));});
	}
}

function har(){
	if(d3.select("#harrassment").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][1]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][1]));});
	}
	else{
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][1]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][1]));});
	}
}

function asu(){
	if(d3.select("#assault").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][2]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][2]));});
	}
	else{
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][2]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][2]));});
	}
}

function dru(){
	if(d3.select("#drugs").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][3]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][3]));});
	}
	else{
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][3]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][3]));});
	}
}

function inx(){
	if(d3.select("#intox").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][4]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][4]));});
	}
	else{
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][4]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][4]));});
	}
}

function oth(){
	if(d3.select("#other").property("checked")){
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][5]))})
		.attr("height", function(d,i){return d3.select(this).attr("height") - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][5]));});
	}
	else{
		svg.selectAll("rect.blue")
		.transition()
		.duration(400)
		.attr("y", function(d,i) {return parseFloat(d3.select(this).attr("y")) - (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][5]))})
		.attr("height", function(d,i){return parseFloat(d3.select(this).attr("height")) + (height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * icrime[i][5]));});
	}
}

function display(){

	if(d3.select("#check").property("checked")){
		svg.selectAll("rect")
	  	.data(tweets)
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(400)
	  	.attr("height", function(d) {return y2(d);})

		svg.selectAll("g.y2").select("text.soon").text("Number of Tweets");
	}
	else{
		svg.selectAll("rect")
	  	.data(sent)
	  	//.attr("x",function(d) {return x(months[tweets.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(400)
	  	.attr("height", function(d) {return y2(d);})

		svg.selectAll("g.y2").select("text.soon").text("Sentiment Value");
	}
}

d3.select("#check").on("change",display);
d3.select("#larceny").on("change",lar);
d3.select("#harrassment").on("change",har);
d3.select("#assault").on("change",asu);
d3.select("#drugs").on("change",dru);
d3.select("#intox").on("change",inx);
d3.select("#other").on("change",oth);

var tooltip = d3.select("body").append("div")
	.attr("class","tooltip")
	.style("opacity", 0);

var margin = {top: 100, right: 20, bottom: 70, left: 250},
    width = 1600 - margin.left - margin.right,
    height = 900 - margin.top - margin.bottom;

//var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var x = d3.scale.ordinal().rangeRoundBands([0,width],.05);

var y = d3.scale.linear().range([height / 2, 0]);

var y2 = d3.scale.linear().range([0,height / 2]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
	//.ticks(84);
    //.tickFormat(d3.time.format("%Y-%m"));

var yAxis1 = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var yAxis2 = d3.svg.axis()
	.scale(y2)
	.orient("left")
	.ticks(10);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
	.attr("align","center")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

//setting the axis values
x.domain(months);
y.domain([0,d3.sum(tweets)/d3.sum(crimes) * d3.max(crimes)]);
y2.domain([0,d3.max(tw)]);


  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height / 2 + ")")
      .call(xAxis)
      .selectAll("text")
      .style("text-anchor", "end")
	  .attr("x", 420)
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis1)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("# of Crimes (Scaled Down)");

  svg.append("g")
      .attr("class", "y2 axis")
      .attr("transform", "translate(0," + height / 2 + ")" )
      .call(yAxis2)
      .append("text")
      .attr("class","soon")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
	  .attr("x", -275)
      .attr("dx", "-.71em")
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Total Sentiment");

  svg.selectAll("bar")
	  .data(sent)
	  .enter()
	  .append("rect")
	  .attr("x", function(d,i){return x(months[i])})
	  //.attr("x",function(d) {return x(sent.indexOf(d) + 1) - 3})
	  .attr("y", function(d) {return height/2 + 1;})
	  .attr("height", function(d) {return y2(d);})
	  .attr("width", x.rangeBand())
	  .style("fill","red")
	  .on("mouseover",function(d,i){
			tooltip.transition()
				.duration(200)
				.style("opacity", .8)
				.style("left", d3.event.pageX + "px")
				.style("top", d3.event.pageY + "px")
				.text("great")
				.style("color","yellow");
		})
	   .on("mouseout",function(d,i){
			tooltip.transition()
				.duration(200)
				.style("opacity",0);
		});

  svg.selectAll(".bar")
      .data(crimes)
      .enter()
	  .append("rect")
	  .attr("class","blue")
	  .attr("x", function(d,i){return x(months[i])})
	  //.attr("x", function(d){return x(months[crimes.indexOf(d)])})
	  .attr("y", function(d,i) {return y(d3.sum(tweets)/d3.sum(crimes) * d);})
      .attr("height", function(d,i) {return height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * d);})
	  .attr("width", x.rangeBand())
	  .style("fill","steelblue");

</script>
</body>
<html>
