<!DOCTYPE html>
<html>
<head>
	<script src="{{url_for('static', filename='d3-src/d3.min.js')}}" charset="utf-8"></script>
	<title> Trumpian </title>
	
	<style>
	     .axis{
			font: 10px sans-serif;	
	      }

	     .axis path,
	     .axis line{
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;	
	     }      
	</style>
</head>
<body>
 <!-- For testing lists. -->
{{tweets}}
<hr>
{{sent}}
<hr>
<center>
<input type="checkbox" id="check"> Show Number of Tweets</input>
<script>
//read in the data arrays
var cnum = {{test}};
var tw = {{tweets}};
var st = {{sent}};
var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
var sent = st.slice(40,52);
var tweets = tw.slice(40,52);

//filters
function display(){	
	if(d3.select("#check").property("checked")){
		svg.selectAll("rect")
	  	.data(tweets)
	  	//.attr("x",function(d) {return x(months[sent.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(2000)	
	  	.attr("height", function(d) {return y2(d);})
	  	.attr("width", x.rangeBand());
	
		svg.selectAll("g.y2").select("text.soon").text("Number of Tweets");	
	}
	else{
		svg.selectAll("rect")
	  	.data(sent)
	  	//.attr("x",function(d) {return x(months[tweets.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(2000)	
	  	.attr("height", function(d) {return y2(d);})								
	  	.attr("width", x.rangeBand());

		svg.selectAll("g.y2").select("text.soon").text("Sentiment Value");	
	}
}


d3.select("#check").on("change",display);


var margin = {top: 20, right: 20, bottom: 70, left: 50},
    width = 1200 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .4);

var y = d3.scale.linear().range([height / 2, 0]);

var y2 = d3.scale.linear().range([0,height / 2]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    //.tickFormat(d3.time.format("%Y-%m"));

var yAxis1 = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var yAxis2 = d3.svg.axis()
	.scale(y2)
	.orient("left")
	.ticks(10);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

//setting the axis values
x.domain(months);
y.domain([25000,d3.max(cnum)]);
y2.domain([0,d3.max(tw)]);


  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height / 2 + ")")
      .call(xAxis)
      .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis1)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("# of Crimes");
 
  svg.append("g")
      .attr("class", "y2 axis")
      .attr("transform", "translate(0," + height / 2 + ")" )
      .call(yAxis2)
      .append("text")
      .attr("class","soon")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dx", "-.71em")
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Sentiment Value");
	
  svg.selectAll("bar")
	  	.data(sent)
	  	.enter()
	  	.append("rect")
	  	.attr("x",function(d) {return x(months[sent.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
	  	.attr("height", function(d) {return y2(d);})
		.transition(2000)									
	  	.attr("width", x.rangeBand())
	  	.style("fill","red");
		console.log(svg);
	
  svg.selectAll(".bar")
      	  .data(cnum.slice(0,12))
          .enter()
	  .append("rect")
	  .attr("x",function(d) {return x(months[cnum.indexOf(d)])})
	  .attr("y",function(d) {return y(d);})
          .attr("height", function(d) {return height / 2 - y(d);})
	  .attr("width", x.rangeBand())
	  .style("fill","steelblue");

</script>
</body>
