<!DOCTYPE html>
<html>
<head>
	<script src="{{url_for('static', filename='d3-src/d3.min.js')}}" charset="utf-8"></script>
	<title> Trumpian </title>
	
	<style>
	     .axis{
			font: 10px sans-serif;	
	      }

	     .axis path,
	     .axis line{
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;	
	     }
		 
		 div.tooltip{	
			position: absolute;			
			text-align: center;			
			width: 200px;					
			height: 100px;					
			padding: 2px;				
			font: 12px sans-serif;		
			background: black;			
			border-radius: 8px;			
			pointer-events: none;			
		 }
		 
	</style>
</head>
<body>
 <!-- For testing lists. -->
<hr>
{{test}}
<hr>
{{tweets}}
<hr>
{{sent}}
<hr>
<center>
<input type="checkbox" id="check"> Show Number of Tweets</input>
<script>
//read in the data arrays
var cnum = {{test}};
var tw = {{tweets}};
var st = {{sent}};
//var smp = {{sample}};
var months = ["Jan '09","Feb '09","Mar '09","Apr '09","May '09","Jun '09","Jul '09","Aug '09","Sep '09","Oct '09","Nov '09","Dec '09","Jan '10","Feb '10","Mar '10","Apr '10","May '10","Jun '10","Jul '10","Aug '10","Sep '10","Oct '10","Nov '10","Dec '10","Jan '11","Feb '11","Mar '11","Apr '11","May '11","Jun '11","Jul '11","Aug '11","Sep '11","Oct '11","Nov '11","Dec '11","Jan '12","Feb '12","Mar '12","Apr '12","May '12","Jun '12","Jul '12","Aug '12","Sep '12","Oct '12","Nov '12","Dec '12","Jan '13","Feb '13","Mar '13","Apr '13","May '13","Jun '13","Jul '13","Aug '13","Sep '13","Oct '13","Nov '13","Dec '13","Jan '14","Feb '14","Mar '14","Apr '14","May '14","Jun '14","Jul '14","Aug '14","Sep '14","Oct '14","Nov '14","Dec '14","Jan '15","Feb '15","Mar '15","Apr '15","May '15","Jun '15","Jul '15","Aug '15","Sep '15","Oct '15","Nov '15","Dec '15"];
var crimes = cnum.slice(0,84);
var sent = st.slice(0,84);
var tweets = tw.slice(0,84);
sent[66] = 364;
crimes[54] -= 1;

console.log(tweets);


//filters
function display(){	
	if(d3.select("#check").property("checked")){
		svg.selectAll("rect")
	  	.data(tweets)
	  	//.attr("x",function(d) {return x(months[sent.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(2000)	
	  	.attr("height", function(d) {return y2(d);})
	
		svg.selectAll("g.y2").select("text.soon").text("Number of Tweets");	
	}
	else{
		svg.selectAll("rect")
	  	.data(sent)
	  	//.attr("x",function(d) {return x(months[tweets.indexOf(d)])})
	  	.attr("y", function(d) {return height/2 + 1;})
		.transition()
		.duration(2000)	
	  	.attr("height", function(d) {return y2(d);})								

		svg.selectAll("g.y2").select("text.soon").text("Sentiment Value");	
	}
}


d3.select("#check").on("change",display);

var tooltip = d3.select("body").append("div")
	.attr("class","tooltip")
	.style("opacity", 0);

var margin = {top: 20, right: 20, bottom: 70, left: 250},
    width = 1600 - margin.left - margin.right,
    height = 900 - margin.top - margin.bottom;

//var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var x = d3.scale.ordinal().rangeRoundBands([0,width],.05);

var y = d3.scale.linear().range([height / 2, 0]);

var y2 = d3.scale.linear().range([0,height / 2]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
	//.ticks(84);
    //.tickFormat(d3.time.format("%Y-%m"));

var yAxis1 = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var yAxis2 = d3.svg.axis()
	.scale(y2)
	.orient("left")
	.ticks(10);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
	.attr("align","center")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

//setting the axis values
x.domain(months);
y.domain([0,d3.sum(tweets)/d3.sum(crimes) * d3.max(crimes) + 150]);
y2.domain([0,d3.max(tw)]);


  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height / 2 + ")")
      .call(xAxis)
      .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis1)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("# of Crimes (Scaled Down)");
 
  svg.append("g")
      .attr("class", "y2 axis")
      .attr("transform", "translate(0," + height / 2 + ")" )
      .call(yAxis2)
      .append("text")
      .attr("class","soon")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
	  .attr("x", -275)
      .attr("dx", "-.71em")
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Total Sentiment");
	
  svg.selectAll("bar")
	  .data(sent)
	  .enter()
	  .append("rect")
	  .attr("x", function(d,i){return x(months[i])})
	  //.attr("x",function(d) {return x(sent.indexOf(d) + 1) - 3})
	  .attr("y", function(d) {return height/2 + 1;})
	  .attr("height", function(d) {return y2(d);})
	  .attr("width", x.rangeBand())
	  .style("fill","red")
	  .on("mouseover",function(d,i){
			tooltip.transition()
				.duration(150)
				.style("opacity", .8)
				.style("left", d3.event.pageX + "px")
				.style("top", d3.event.pageY + "px")
				.text("great")
				.style("color","yellow");
		})
	   .on("mouseout",function(d,i){
			tooltip.transition()
				.duration(150)
				.style("opacity",0);
		});
	
  svg.selectAll(".bar")
      .data(crimes)
      .enter()
	  .append("rect")
	  .attr("x", function(d,i){return x(months[i])})
	  //.attr("x", function(d){return x(months[crimes.indexOf(d)])})
	  .attr("y", function(d) {return y(d3.sum(tweets)/d3.sum(crimes) * d);})
      .attr("height", function(d) {return height / 2 - y(d3.sum(tweets)/d3.sum(crimes) * d);})
	  .attr("width", x.rangeBand())
	  .style("fill","steelblue");

</script>
</body>
